<a href="https://colab.research.google.com/github/tboyea/2023-Math-152/blob/main/Exploration_1_Collatz_Conjecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Each came up with our own code for the conjecture

Aziz working on 2

August working on 3

Kelly writing the findings and describing the code and 5

Tanner working on 4(?)

# Exploration 1: The Collatz Conjecture

Aziz Albayouk, Tanner Boyea, Kelly Kirchner, August Noe

In [ ]:
def kelly_collatz(n):
  t = 0 
  while n > 1:
    if n % 2 == 0:
      n = n / 2
    elif n % 2 == 1:
      n = 3 * n + 1
    print(n) 
    t = t + 1
  print(1)

In [ ]:
def agu_collatz(n):
  mm=n
  t=0
  print(t,mm)
  while mm!=1:
    t=t+1
    if mm%2==0:
      mm=mm/2
    elif mm%2==1:
      mm=3*mm+1
    print(t,mm)

def single_collatz_check(n): #verifies if a single number 'passes' the colatz conjecture
  mm=n
  t=0
  while mm!=1:
    t=t+1
    if mm%2==0:
      mm=mm/2
    elif mm%2==1:
      mm=3*mm+1
    if t>1000:
      return(False)
      break
  return(True)



def range_collatz_check(y): #3
  verified=[]
  for x in range(1,y):
    mm=x
    t=0
    while mm!=1:
      t=t+1
      if mm%2==0:
        mm=mm/2
      elif mm%2==1:
        mm=3*mm+1
      if verified.count(mm)!=0:
        mm==1
      if t>1000:
        return("Time out at",x)
        break
    verified.append(x)
  return("First ", y, " terms are verified.")

      
range_collatz_check(100)

('First ', 100, ' terms are verified.')

In [ ]:
def aziz_collatz(n,it): 
  while n>1:
    for i in range (n,it):
      if n%2==0:
       n=n/2
      else:
        n=(3*n)+1
      print(n)
aziz_collatz(3,10)

10
5.0
16.0
8.0
4.0
2.0
1.0

In [ ]:
#Code for #4
list_iterdrop=[]
list_drop=[1,2,3,4,2]
for x in range(0,len(list_drop)):
      if list_drop[x]<=list_drop[x+1]:
        list_iterdrop.append(x)
        print(list_iterdrop)
      elif list_drop[x]>list_drop[x+1]:
        print (len(list_iterdrop))

[0]
[0, 1]
[0, 1, 2]
3

IndexError: ignored

In [1]:
def collatz(n): 
    steps = 0
    while n != 1:
        steps += 1
        if n%2 == 0:
            n /= 2
        else:
            n = 3 * n + 1
        return(n, steps)

We know that the dropping time for any even number is 1 so we will set a range excluding those numbers.

In [2]:
for N in range(3, 101, 2):
    n = N
    steps = 0
    while n != 1:
        steps += 1
        if n%2 == 0:
            n /= 2
        else:
            n = 3 * n + 1
    print(N, steps)

3 7
5 5
7 16
9 19
11 14
13 9
15 17
17 12
19 20
21 7
23 15
25 23
27 111
29 18
31 106
33 26
35 13
37 21
39 34
41 109
43 29
45 16
47 104
49 24
51 24
53 11
55 112
57 32
59 32
61 19
63 107
65 27
67 27
69 14
71 102
73 115
75 14
77 22
79 35
81 22
83 110
85 9
87 30
89 30
91 92
93 17
95 105
97 118
99 25