<a href="https://colab.research.google.com/github/tboyea/2023-Math-152/blob/main/Notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Notes

A while loop for analyzing growth of harmonic series

$$ \frac{1}{1} + \frac{1}{2} + \frac{1}{3} + \frac{1}{4} ....$$

---

In [4]:
S=0
n=0
while S<3:
  n = n + 1 #term im currently on
  S = S + (1/n) #running total/sum
print(n,S)

11 3.0198773448773446

In [44]:
def Fibo(M):
  a=0
  b=1
  while b < M:
    print(b)
    a,b = b,a+b
  return(None)

In [45]:
Fibo(234)

1
1
2
3
5
8
13
21
34
55
89
144
233

In [53]:
def collatz(n): 
    steps = 0
    while n != 1:
        print(n)
        steps += 1
        if n%2 == 0:
            n //= 2
        else:
            n = 3 * n + 1
    return(n, steps)

In [54]:
collatz(12)

12
6
3
10
5
16
8
4
2

(1, 9)

In [41]:
for N in range(3, 101, 2):
    n = N
    steps = 0
    while n != 1:
        steps += 1
        if n%2 == 0:
            n /= 2
        else:
            n = 3 * n + 1
    print(N, steps)

3 7
5 5
7 16
9 19
11 14
13 9
15 17
17 12
19 20
21 7
23 15
25 23
27 111
29 18
31 106
33 26
35 13
37 21
39 34
41 109
43 29
45 16
47 104
49 24
51 24
53 11
55 112
57 32
59 32
61 19
63 107
65 27
67 27
69 14
71 102
73 115
75 14
77 22
79 35
81 22
83 110
85 9
87 30
89 30
91 92
93 17
95 105
97 118
99 25